<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Kstyles=The ultimate shopping website</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="userassets/images/favicon.svg" />

    <link rel="stylesheet" href="userassets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="userassets/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="userassets/css/tiny-slider.css" />
    <link rel="stylesheet" href="userassets/css/glightbox.min.css" />
    <link rel="stylesheet" href="userassets/css/main.css" />
</head>

<body>

    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>


   {{> header}}

    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Login</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index-2.html"><i class="lni lni-home"></i> Home</a></li>
                        <li>Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">

                    <form class="card login-form" action="/login" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="card-body">
                            <div class="title">
                                <h3>Login Now</h3>

                                {{#if message}}
                            
                                <p class="error" style="color:red">{{message}}</p>
                                {{/if}}

                            </div>
                            <div class="form-group input-group">
                                <label for="reg-fn">Email</label>
                                <input class="form-control" type="email" name="email" id="reg-email" required>
                            </div>
                            <div class="form-group input-group">
                                <label for="reg-fn">Password</label>
                                <input class="form-control" type="password" name="pass" id="reg-pass" required>
                            </div>
                        
                            <div class="button">
                                <button class="btn" type="submit">Login</button>
                            </div>
                            <p class="outer-link">Don't have an account? <a href="/register">Register here </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{{> footer}} 


    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <script data-cfasync="false"
        src="https://demo.graygrids.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="userassets/js/bootstrap.min.js"></script>
    <script src="userassets/js/tiny-slider.js"></script>
    <script src="userassets/js/glightbox.min.js"></script>
    <script src="userassets/js/main.js"></script>
</body>


</html>